main{
  margin: 0 auto;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

#brewdog-icon {
  height: 50px;
  width: auto;
}

h1 {
  font-size: 65px;
  margin: 0;
  width: 100%;
}

.beers{
  padding: 5px;
  -webkit-padding-start: 0px;
}

.beerImage {
  height: auto;
  width: 40px;
}

#beer-list {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-around;
}

li {
  height: 200px;
  width: 200px;
  margin: 20px;
}
