main{
  margin: 0 auto;
}

body {
  background-image: url("https://media.timeout.com/images/101765597/image.jpg");
  color: #171D1C;
  margin: 0;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

#brewdog-icon {
  height: 50px;
  width: auto;
}

ul {
  padding: 0;
}

h1 {
  background-color: rgba(244, 243, 238, 0.95);
  font-family: 'Bungee', cursive;
  font-size: 65px;
  margin: 0;
  top: 0;
  width: 100%;
}

li {
  margin-bottom: 20px;
}

.beers{
  padding: 5px;
  -webkit-padding-start: 0px;
}

#beer-list {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-around;
}

.beerItem {
  background-color: #F4F3EE;
  border: 1px solid #F5F4EF;
  border-bottom: 2px solid #01AFDB;
  list-style-type: none;
  height: auto;
  width: 175px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.beerImage {
  height: auto;
  width: 60px;
}

.beerName {
  font-family: 'Bungee', cursive;
  font-weight: 900;
}

.beerMalt, .beerHop, .beerYeast {
  font-size: 12px;
  font-style: italic;
  text-align: left;
}
